In [1]:
#Set dependencies
import pandas as pd
import os
import numpy as np

sensors = ['42019','42043','42044','42047','8764314','8770613', 'TABS-X']
monthsf = ['0617','0717','0817','0917']

wx_type = ['air_pressure(mBar)', 
           'air_temperature', 
           'sea_water_practical_salinity', 
           'sea_water_temperature',
           'wind_speed']

hurricane = "Harvey_v2"
year = 2017

files = []

#naming csv file for all resources
for i in sensors:
    for j in monthsf:
        files.append(f"../data/2017/v2/{i}-{j}.csv")
        
print(len(files))

28

In [2]:
# Read all csv files into a list of dataframes
data = []
count = 0
for i in range(len(files)):    
    df = pd.read_csv(files[i])
    print(f'Reading csvfile {i}...{len(df)} records')
    count+=len(df)
    data.append(df)
        
df_data = pd.DataFrame(data) 
print()
print(f'There are a total of {count} records')
df_data.shape

Reading csvfile 0...0 records
Reading csvfile 1...661 records
Reading csvfile 2...521 records
Reading csvfile 3...632 records
Reading csvfile 4...763 records
Reading csvfile 5...727 records
Reading csvfile 6...440 records
Reading csvfile 7...1440 records
Reading csvfile 8...1440 records
Reading csvfile 9...1485 records
Reading csvfile 10...1488 records
Reading csvfile 11...1440 records
Reading csvfile 12...1440 records
Reading csvfile 13...1487 records
Reading csvfile 14...465 records
Reading csvfile 15...1440 records
Reading csvfile 16...561 records
Reading csvfile 17...650 records
Reading csvfile 18...573 records
Reading csvfile 19...616 records
Reading csvfile 20...619 records
Reading csvfile 21...721 records
Reading csvfile 22...620 records
Reading csvfile 23...406 records
Reading csvfile 24...1440 records
Reading csvfile 25...1488 records
Reading csvfile 26...1438 records
Reading csvfile 27...1440 records

There are a total of 26441 records

(28, 1)

In [3]:
# display any of the dataframes
df_data[0][0]

Empty DataFrame
Columns: [date, sensor, sensor.1, latitude, latitude.1, longitude, longitude.1, air_pressure(mBar), air_temperature, sea_water_practical_salinity, sea_water_temperature, wind_speed]
Index: []

In [4]:
# Merge all the dataframes into one complete dataframe
df_merge = pd.DataFrame()
for i in range(len(df_data)):
    df_merge = pd.concat([df_merge, df_data[0][i]], axis=0)

df_merge = df_merge.reset_index(drop=True)
df_merge

,date,sensor,sensor.1,latitude,latitude.1,longitude,longitude.1,air_pressure(mBar),air_temperature,sea_water_practical_salinity,sea_water_temperature,wind_speed
0,2017-07-01 00:50:00+00:00,ioos:station:wmo:42019:1,NaN,27.907,NaN,-95.3530,NaN,1014.20,29.1,NaN,29.10,7.0
1,2017-07-01 01:50:00+00:00,ioos:station:wmo:42019:1,NaN,27.907,NaN,-95.3530,NaN,1014.40,29.1,NaN,29.10,8.0
2,2017-07-01 02:50:00+00:00,ioos:station:wmo:42019:1,NaN,27.907,NaN,-95.3530,NaN,1014.40,28.9,NaN,29.00,8.0
3,2017-07-01 03:50:00+00:00,ioos:station:wmo:42019:1,NaN,27.907,NaN,-95.3530,NaN,1014.90,28.9,NaN,29.00,8.0
4,2017-07-01 04:50:00+00:00,ioos:station:wmo:42019:1,NaN,27.907,NaN,-95.3530,NaN,1015.50,28.8,NaN,29.00,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...
26436,2017-09-30 21:30:00+00:00,ioos:station:TABS:X:1,NaN,27.066,NaN,-96.3383,NaN,1013.73,0.0,32.48,29.05,0.0
26437,2017-09-30 22:00:00+00:00,ioos:station:TABS:X:1,NaN,27.066,NaN,-96.3383,NaN,1013.96,0.0,32.47,29.05,0.0
26438,2017-09-30 22:30:00+00:00,ioos:station:TABS:X:1,NaN,27.066,NaN,-96.3383,NaN,1014.23,0.0,32.49,29.04,0.0
26439,2017-09-30 23:00:00+00:00,ioos:station:TABS:X:1,NaN,27.066,NaN,-96.3383,NaN,1014.28,0.0,32.54,29.03,0.0
26440,2017-09-30 23:30:00+00:00,ioos:station:TABS:X:1,NaN,27.066,NaN,-96.3383,NaN,1014.38,0.0,32.56,29.00,0.0

In [5]:
# defined function to get stats of analyzing for any outlier anamolies within final dataframe before export
# Print stats below
def getstats(df_merge, wx_type, comment):
    
    print(comment)
    print('-'*40)
    print(f'Total Records {len(df_merge)}')
    print('-'*40)

    for i in wx_type:
        print(f'type: {i}')
        print(f'count: {df_merge[i].count()} / {round((df_merge[i].count()/len(df_merge))*100,2)}%')
        print(f'min: {round(df_merge[i].min(),2)}')
        print(f'max: {round(df_merge[i].max(),2)}')
        print(f'avg: {round(df_merge[i].mean(),3)}')
        print(f'med: {round(df_merge[i].median(),3)}')
        print('-')

In [6]:
getstats(df_merge, wx_type, 'Before Data Change')

Before Data Change
----------------------------------------
Total Records 26441
----------------------------------------
type: air_pressure(mBar)
count: 26441 / 100.0%
min: 0.0
max: 1177.0
avg: 1012.783
med: 1014.17
-
type: air_temperature
count: 26441 / 100.0%
min: -999.0
max: 46.7
avg: 0.692
med: 27.8
-
type: sea_water_practical_salinity
count: 23900 / 90.39%
min: 0.0
max: 36.91
avg: 22.786
med: 32.355
-
type: sea_water_temperature
count: 25001 / 94.55%
min: -0.1
max: 47.4
avg: 28.36
med: 28.92
-
type: wind_speed
count: 26441 / 100.0%
min: 0.0
max: 20.35
avg: 4.776
med: 4.823
-

In [7]:
# Following the above analysis, it is determined that the outliers below need to be dropped from consideration
# These values will be replaced with 'blank' instead.
# ------------------------------------------------
# air_pressure(mBar) -  [0]
# air_temperature - [-999]
# sea_water_practical_salinity - [0]
# sea_water_temperature - [<2]
# wind_speed - []
# ------------------------------------------------
df_mergeB = df_merge

i_null = []
for i in wx_type:
    if i == wx_type[0]:
        for j in range(df_mergeB[i].count()):
            if df_mergeB[i][j] == 0:
                i_null.append(j)
                df_mergeB.loc[j,i] = ''
    if i == wx_type[1]:
        for j in range(df_mergeB[i].count()):
            if df_mergeB[i][j] == -999:
                i_null.append(j)
                df_mergeB.loc[j,i] = ''
    if i == wx_type[2]:
        for j in range(df_mergeB[i].count()):
            if df_mergeB[i][j] == 0:
                i_null.append(j)
                df_mergeB.loc[j,i] = ''
    if i == wx_type[3]:
        for j in range(df_mergeB[i].count()):
            if df_mergeB[i][j] < 2:
                i_null.append(j)
                df_mergeB.loc[j,i] = ''
    #if i == wx_type[4]:
    #   for j in range(df_mergeB[i].count()):
    #        if df_mergeB[i][j] == 0:
    #            i_null.append(j)
    #            df_mergeB.loc[j,i] = 'NULL'
                
print(f'total records changed {len(i_null)}')

total records changed 4345

In [8]:
# Display records changed
df_mergeB.iloc[i_null,:]

,date,sensor,sensor.1,latitude,latitude.1,longitude,longitude.1,air_pressure(mBar),air_temperature,sea_water_practical_salinity,sea_water_temperature,wind_speed
3521,2017-08-27 08:30:00+00:00,ioos:station:wmo:42043:1,NaN,28.9818,NaN,-94.9186,NaN,,0,32.11,29.8,11.998167
3522,2017-08-27 09:00:00+00:00,ioos:station:wmo:42043:1,NaN,28.9818,NaN,-94.9186,NaN,,0,32.03,29.8,12.316006
3523,2017-08-27 09:30:00+00:00,ioos:station:wmo:42043:1,NaN,28.9818,NaN,-94.9186,NaN,,0,31.99,29.8,12.100351
3524,2017-08-27 10:00:00+00:00,ioos:station:wmo:42043:1,NaN,28.9818,NaN,-94.9186,NaN,,0,31.93,29.8,10.766801
3525,2017-08-27 10:30:00+00:00,ioos:station:wmo:42043:1,NaN,28.9818,NaN,-94.9186,NaN,,0,31.88,29.8,13.370748
...,...,...,...,...,...,...,...,...,...,...,...,...
11320,2017-06-06 21:30:00+00:00,ioos:station:wmo:42047:1,NaN,27.8966,NaN,-93.5973,NaN,1006.38,25.4,0.34,,3.735505
11321,2017-06-06 22:00:00+00:00,ioos:station:wmo:42047:1,NaN,27.8966,NaN,-93.5973,NaN,1006.47,25.1,0.32,,3.278735
11322,2017-06-06 22:30:00+00:00,ioos:station:wmo:42047:1,NaN,27.8966,NaN,-93.5973,NaN,1006.32,-3.2,0.3,,2.920719
11323,2017-06-06 23:00:00+00:00,ioos:station:wmo:42047:1,NaN,27.8966,NaN,-93.5973,NaN,1006.17,-7.5,0.28,,0.332415
11324,2017-06-06 23:30:00+00:00,ioos:station:wmo:42047:1,NaN,27.8966,NaN,-93.5973,NaN,1006.15,-10.5,0.28,,0.441814

In [9]:
#Set the file path to export city data
csvFile = os.path.join("../data",f"{hurricane}_{year}.csv")

#Export clean datframe to csv file
df_merge.to_csv(csvFile)
        
print(f'Export completed for {hurricane}_{year} ')

Export completed for Harvey_v2_2017